# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tamogochi_db
DB_SCHEMA_NAME=public

# Redis
REDIS_URL=redis://localhost:6379/0

# Telegram Bot
BOT_TOKEN=your_bot_token_here

# Application
APP_NAME=tamogochi_2
APP_PORT=8000
DEBUG=True

# Python
PYTHON_VERSION=3.12


